<%= form_with(model: statement, local: true) do |form| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance, id: :statement_balance %>
  </div>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :statement_account_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
