<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @balance.balance %>
</p>

<p>
  <strong>Account:</strong>
  <%= @balance.account %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
