<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.user.email %>
</p>
 
<p>
  <strong>Número da Agência:</strong>
  <%= @account.agency_number %>
</p>

<p>
  <strong>Número da Conta:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Saldo Atual:</strong>
  <%= @account.balance %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %>
<%= render 'accounts/deposit' %>