<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.user.email %>
</p>
 
<p>
  <strong>Número da Agência:</strong>
  <%= @account.agency_number %>
</p>

<p>
  <strong>Número da Conta:</strong>
  <%= @account.account_number %>
</p>
  
<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Saldo atual:</strong>
  <%= @account.balance %>
</p>

<% if @account.status == false %>

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#balanceModal">Mostrar saldo</button> 
      <%= render 'shared/balance' %> 
    </form>
  </div>
</div>

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#depositModal">Depositar</button> 
      <%= render 'shared/deposit' %> 
    </form>
  </div>
</div>

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">Sacar</button> 
      <%= render 'shared/withdraw' %> 
    </form>
  </div> 
</div> 

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#transferModal">Transferir</button> 
      <%= render 'shared/transfer' %> 
    </form>
  </div> 
</div> 


<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#closeModal">Encerrar Conta</button> 
      <%= render 'shared/account_close' %> 
    </form>
  </div> 
</div> 

<% else %>

  <h1> Conta desativada </h1>

  <div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#activateModal">Reativar Conta</button> 
      <%= render 'shared/activate_account' %> 
    </form>
  </div> 
</div> 

<% end %>
