<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.user.email %>
</p>
 
<p>
  <strong>Número da Agência:</strong>
  <%= @account.agency_number %>
</p>

<p>
  <strong>Número da Conta:</strong>
  <%= @account.account_number %>
</p>
  
<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Saldo atual:</strong>
  <%= @account.balance %>
</p>

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#depositModal">Depositar</button> 
      <%= render 'accounts/deposit' %> 
    </form>
  </div>
</div>

<div class="well"> 
  <div class="text-left">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">Sacar</button> 
      <%= render 'accounts/withdraw' %> 
    </form>
  </div> 
</div> 
   

<%= link_to 'Edit', edit_account_path(@account) %> 
